APP_DEBUG = false[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME =DATABASE =USERNAME =PASSWORD =HOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn#七牛云配置[QINIU]qiniu_access_key = 自己写qiniu_access_secret = 自己写qiniu_bucket = 自己写qiniu_domain = 自己写#支付宝app支付配置[ALI_APP_PAY]app_id = ''rsa_private_key = ''alipay_rsa_public_key = ''